.container {
    background-color: var(--btn-bg-color)!important;
    max-width: none;
    color: black;
    text-decoration: none;
    width: 100% !important;
    margin-top: 20px;
}

.py-5{
    padding-top: 1em !important;
    padding-bottom: 0% !important; 
    color: #000;
}
.text-muted {
    --bs-text-opacity: 1;
    color: #ffffff!important;
}

@media screen and (min-width: 1199px) {
    .col-6 {
        margin-left: 15rem;
    }
}

@media screen and (max-width: 1199px) and (min-width: 701px) {
    .col-6 {
        margin-left: 10rem;
    }
}

@media screen and (max-width: 700px) {
     
}