<app-navegador></app-navegador>
<section class="panel">
  <div class="tools">
    <button type="button" class="btn btn-primary position-relative">
      Profile
      <span class="position-absolute top-0 start-100 translate-middle p-2 bg-danger border border-light rounded-circle">
        <span class="visually-hidden">New alerts</span>
      </span>
    </button>
    <button type="button" class="btn btn-primary position-relative">
      Profile
      <span class="position-absolute top-0 start-100 translate-middle p-2 bg-danger border border-light rounded-circle">
        <span class="visually-hidden">New alerts</span>
      </span>
    </button>
    <button type="button" class="btn btn-primary position-relative">
      Profile
      <span class="position-absolute top-0 start-100 translate-middle p-2 bg-danger border border-light rounded-circle">
        <span class="visually-hidden">New alerts</span>
      </span>
    </button>
    <button type="button" class="btn btn-primary position-relative">
      Profile
      <span class="position-absolute top-0 start-100 translate-middle p-2 bg-danger border border-light rounded-circle">
        <span class="visually-hidden">New alerts</span>
      </span>
    </button>
    <button type="button" class="btn btn-primary position-relative">
      Profile
      <span class="position-absolute top-0 start-100 translate-middle p-2 bg-danger border border-light rounded-circle">
        <span class="visually-hidden">New alerts</span>
      </span>
    </button>
  </div>
  <article class="firstRow">
    <h2>TOP Populares</h2>
    <app-card></app-card>
  </article>
  <hr class="dropdown-divider">
  <article class="firstRow">
    <h2>Novedades</h2>
    <app-card></app-card>
  </article>
  <hr class="dropdown-divider">
  <article class="firstRow">
    <h2>Más Leidos</h2>
    <app-card></app-card>
  </article>
  <hr class="dropdown-divider">
</section>

<app-footer></app-footer>