.navbar{
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;

    background-color: var(--bkg-color) !important;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 9;
    color: var(--btn-bg-color);
}
.navbar .navbar-brand, .navbar a{
    color: var(--btn-bg-color);
    margin-left: 1rem;
}
.navbar-nav {
    position: fixed;
    right: 20px;
    /*background-color: black;*/
}
.nav-icon {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-inline:1rem;
}
.dropdown-menu {
    position: fixed !important;
    top: 44px !important;
    left: unset !important;
    right: 0;
}
/*Estilos al hacer scroll*/
.nav__black {
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    background-color: var(--btn-bg-color)!important;
}
.navbar-brand_{
    color: white !important;
}

/*Estilos al estar log*/
.menu-log {
    display:none
}


@media screen and (max-width: 1199px) {
    .navbar-nav {
        background-color: var(--bkg-color);
        /*#16161a*/
    }

}