<app-navegador></app-navegador>
<div id="carouselExample" class="carousel slide">
  <div class="carousel-inner">

    <div class="carousel-item active">
      <app-audio-player title="EJEMPLO1" description="asdasdasdasdadasdsad"></app-audio-player>
    </div>

    <div class="carousel-item">
      <app-audio-player title="EJEMPLO2" description=""></app-audio-player>
    </div>
    <div class="carousel-item">
      <app-audio-player title="EJEMPLO2"></app-audio-player>
    </div>


  </div>
  <button class="carousel-control-prev" style="width: 5% !important;z-index: 4;" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" style="width: 5% !important;z-index: 4;"type="button" data-bs-target="#carouselExample" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>