<app-navegador></app-navegador>
<div id="carouselExample" class="carousel slide">
  <div class="carousel-inner">

    <div *ngFor="let item of activeElement"  class="carousel-item active">
      <app-audio-player [audioBook]="item" ></app-audio-player>
    </div>

    <div *ngFor="let item of audiolibros" class="carousel-item">
      <app-audio-player  [audioBook]="item" ></app-audio-player>
    </div>

  </div>
  <button class="carousel-control-prev" style="width: 5% !important;z-index: 4;" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" style="width: 5% !important;z-index: 4;"type="button" data-bs-target="#carouselExample" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>