<div id="generic_price_table" class="generic_price_table">   
<section>
        <div class="dark-div"></div>
        <div class="container">
            
            <!--BLOCK ROW START-->
            <div class="row">
                <div class="col-md-4">
                
                  <!--PRICE CONTENT START-->
                    <div class="generic_content clearfix">
                        
                        <!--HEAD PRICE DETAIL START-->
                        <div class="generic_head_price clearfix">
                        
                            <!--HEAD CONTENT START-->
                            <div class="generic_head_content clearfix">
                            
                              <!--HEAD START-->
                                <div class="head_bg"></div>
                                <div class="head">
                                    <span>Básico</span>
                                </div>
                                <!--//HEAD END-->
                                
                            </div>
                            <!--//HEAD CONTENT END-->
                            
                            <!--PRICE START-->
                            <div class="generic_price_tag clearfix">  
                                <span class="price" i18n>
                                    <span class="sign">€</span>
                                    <span class="currency" >3</span>
                                    <span class="cent">.99</span>
                                    <span class="month">/Mes</span>
                                </span>
                            </div>
                            <!--//PRICE END-->
                            
                        </div>                            
                        <!--//HEAD PRICE DETAIL END-->
                        
                        <!--FEATURE LIST START-->
                        <div class="generic_feature_list">
                            <ul i18n>
                                <li><span>Lectura online</span> ilimitada</li>
                                  <li><span>Descarga de libros</span> 0MB</li>
                                  <li><span>Podcasts</span> hasta 10</li>
                                  <li><span>Audiolibros</span> hasta 3</li>
                                  
                                  <li><span>Traducción</span><br> Inglés/Español</li>
                                  <li><span>Anuncios</span> SI</li>
                              </ul>
                        </div>
                        <!--//FEATURE LIST END-->
                        
                        <!--BUTTON START https://buy.stripe.com/test_8wM9Cab7y9Xt7FmaEF-->
                        <div class="generic_price_btn clearfix">
                          <a class="" [routerLink]="['/SIGNUP',PLANB, BasicURL]" >Subscribirse</a>
                        </div>
                        <!--//BUTTON END-->
                        
                    </div>
                    <!--//PRICE CONTENT END-->
                        
                </div>
                
                <div class="col-md-4">
                
                  <!--PRICE CONTENT START-->
                    <div class="generic_content active clearfix">
                        
                        <!--HEAD PRICE DETAIL START-->
                        <div class="generic_head_price clearfix">
                        
                            <!--HEAD CONTENT START-->
                            <div class="generic_head_content clearfix">
                            
                              <!--HEAD START-->
                                <div class="head_bg"></div>
                                <div class="head">
                                    <span i18n>Estándar</span>
                                </div>
                                <!--//HEAD END-->
                                
                            </div>
                            <!--//HEAD CONTENT END-->
                            
                            <!--PRICE START-->
                            <div class="generic_price_tag clearfix">  
                                <span class="price" i18n>
                                    <span class="sign">€</span>
                                    <span class="currency">12</span>
                                    <span class="cent">.99</span>
                                    <span class="month">/Mes</span>
                                </span>
                            </div>
                            <!--//PRICE END-->
                            
                        </div>                            
                        <!--//HEAD PRICE DETAIL END-->
                        
                        <!--FEATURE LIST START-->
                        <div class="generic_feature_list">
                          <ul i18n>
                              <li><span>Lectura online</span> ilimitada</li>
                                <li><span>Descarga de libros</span> 500MB</li>
                                <li><span>Podcasts</span> hasta 50</li>
                                <li><span>Audiolibros</span> hasta 10</li>
                                <li><span>Traducción</span><br> Inglés/Español</li>
                                <li><span>Anuncios</span> NO</li>
                            </ul>
                        </div>
                        <!--//FEATURE LIST END-->
                        
                        <!--BUTTON START-->
                        <div class="generic_price_btn clearfix">
                          <a class="" [routerLink]="['/SIGNUP',PLANS, StandarURL]" i18n>Subscribirse</a>
                        </div>
                        <!--//BUTTON END-->
                        
                    </div>
                    <!--//PRICE CONTENT END-->
                        
                </div>
                <div class="col-md-4">
                
                  <!--PRICE CONTENT START-->
                    <div class="generic_content clearfix">
                        
                        <!--HEAD PRICE DETAIL START-->
                        <div class="generic_head_price clearfix">
                        
                            <!--HEAD CONTENT START-->
                            <div class="generic_head_content clearfix">
                            
                              <!--HEAD START-->
                                <div class="head_bg"></div>
                                <div class="head">
                                    <span i18n>Ilimitado</span>
                                </div>
                                <!--//HEAD END-->
                                
                            </div>
                            <!--//HEAD CONTENT END-->
                            
                            <!--PRICE START-->
                            <div class="generic_price_tag clearfix">  
                                <span class="price" i18n>
                                    <span class="sign">€</span>
                                    <span class="currency">19</span>
                                    <span class="cent">.99</span>
                                    <span class="month">/Mes</span>
                                </span>
                            </div>
                            <!--//PRICE END-->
                            
                        </div>                            
                        <!--//HEAD PRICE DETAIL END-->
                        
                        <!--FEATURE LIST START-->
                        <div class="generic_feature_list">
                            <ul i18n>
                                <li><span>Lectura online</span> ilimitada</li>
                                <li><span>Descarga de libros</span> ilimitada</li>
                                <li><span>Podcasts</span> ilimitados</li>
                                <li><span>Audiolibros</span> ilimitados</li>
                                <li><span>Traducción</span><br>Inglés/Español/Francés/Alemán/Chino</li>
                                <li><span>Anuncios</span> NO</li>
                            </ul>
                        </div>
                        <!--//FEATURE LIST END-->
                        
                        <!--BUTTON START-->
                        <div class="generic_price_btn clearfix">
                          <a class=""  [routerLink]="['/SIGNUP',PLANI, IlimitedURL]" i18n>Subscribirse</a>
                        </div>
                        <!--//BUTTON END-->
                        
                    </div>
                    <!--//PRICE CONTENT END-->
                        
                </div>
            </div>  
            <!--//BLOCK ROW END-->
            
        </div>
    </section>             
</div>