<app-navegador></app-navegador>
<section id="main">
    <app-aside (usersClicked)="changestate($event)"></app-aside>

    <div class="adminContent">
        <div class="topButtons">
            <!-- Button trigger modal -->
            <button type="button" class="btn1 btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal"
                id="añadirBtn">
                AÑADIR
            </button>

            <!-- Modal -->
            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h1 class="modal-title fs-5" id="exampleModalLabel">
                                Añadir libro
                            </h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body" #modal>
                            <input placeholder="titulo" #title id="title" />
                            <input placeholder="sinopsis" #sinopsis />
                            <input placeholder="autor" #author />
                            <input placeholder="fecha de publicacion" #publicationDate />
                            <input placeholder="fecha de subida" #uploadDate />
                            <input placeholder="editorial" #editorial />
                            <input placeholder="ISBN" #isbn />
                            <input placeholder="genero" #genre />
                            <input placeholder="URL" #url />
                            <input placeholder="URL de la imagen" #imageURL />
                            <input placeholder="Paginas" #pages />
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                                Close
                            </button>
                            <button type="button" class="btn btn-primary" (click)="
                  addBook(
                    title.value,
                    sinopsis.value,
                    author.value,
                    publicationDate.value,
                    uploadDate.value,
                    editorial.value,
                    isbn.value,
                    genre.value,
                    url.value,
                    imageURL.value,
                    pages.value
                  )
                " data-bs-dismiss="modal">
                                Save changes
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <button class="btn1" id="eliminarBtn">ELIMINAR SELECCIONADOS</button>
        </div>

        <div *ngIf="booksClicked; else usersClicked" class="headerDashboard grid">
            <h2 class="el">ACCIÓN</h2>
            <h2 class="el">TÍTULO</h2>
            <h2 class="el">AUTOR</h2>
            <h2 class="el">ISBN</h2>
        </div>

        <ng-template #usersClicked>
            <div class="headerDashboard grid">
                
            <h2 class="el">ACCIÓN</h2>
            <h2 class="el">NOMBRE</h2>
            <h2 class="el">CORREO</h2>
            <h2 class="el">ESTADO</h2>
            </div>
        </ng-template>

        <div *ngIf="booksClicked; else booksDataClicked">
            <div class="elementDashboard grid" *ngFor="let a of books">
                <div class="optionButtons">
                    <div class="form-check">
                        <input class="form-check-input form-check" type="checkbox" value="" id="flexCheckDefault" />
                        <label class="form-check-label form-check" for="flexCheckDefault"></label>
                    </div>

                    <button type="button" class="btn" (click)="firestoreService.deleteBook(a.id)">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                            class="bi bi-trash3-fill" viewBox="0 0 16 16">
                            <path
                                d="M11 1.5v1h3.5a.5.5 0 0 1 0 1h-.538l-.853 10.66A2 2 0 0 1 11.115 16h-6.23a2 2 0 0 1-1.994-1.84L2.038 3.5H1.5a.5.5 0 0 1 0-1H5v-1A1.5 1.5 0 0 1 6.5 0h3A1.5 1.5 0 0 1 11 1.5Zm-5 0v1h4v-1a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5ZM4.5 5.029l.5 8.5a.5.5 0 1 0 .998-.06l-.5-8.5a.5.5 0 1 0-.998.06Zm6.53-.528a.5.5 0 0 0-.528.47l-.5 8.5a.5.5 0 0 0 .998.058l.5-8.5a.5.5 0 0 0-.47-.528ZM8 4.5a.5.5 0 0 0-.5.5v8.5a.5.5 0 0 0 1 0V5a.5.5 0 0 0-.5-.5Z" />
                        </svg>
                    </button>
                    <button type="button" class="btn">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                            class="bi bi-pencil-square" viewBox="0 0 16 16">
                            <path
                                d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z" />
                            <path fill-rule="evenodd"
                                d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z" />
                        </svg>
                    </button>
                    <button type="button" class="btn">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                            class="bi bi-eye-fill" viewBox="0 0 16 16">
                            <path d="M10.5 8a2.5 2.5 0 1 1-5 0 2.5 2.5 0 0 1 5 0z" />
                            <path
                                d="M0 8s3-5.5 8-5.5S16 8 16 8s-3 5.5-8 5.5S0 8 0 8zm8 3.5a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7z" />
                        </svg>
                    </button>
                </div>

                <h2 class="el">{{ a.title }}</h2>
                <h2 class="el">{{ a.isbn }}</h2>
                <h2 class="el">{{ a.editorial }}</h2>
            </div>
        </div>

        <ng-template #booksDataClicked>
            <div class="elementDashboard grid" *ngFor="let a of users">
                <div class="optionButtons">
                    <div class="form-check">
                        <input class="form-check-input form-check" type="checkbox" value="" id="flexCheckDefault" />
                        <label class="form-check-label form-check" for="flexCheckDefault"></label>
                    </div>

                    <button type="button" class="btn">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                            class="bi bi-trash3-fill" viewBox="0 0 16 16">
                            <path
                                d="M11 1.5v1h3.5a.5.5 0 0 1 0 1h-.538l-.853 10.66A2 2 0 0 1 11.115 16h-6.23a2 2 0 0 1-1.994-1.84L2.038 3.5H1.5a.5.5 0 0 1 0-1H5v-1A1.5 1.5 0 0 1 6.5 0h3A1.5 1.5 0 0 1 11 1.5Zm-5 0v1h4v-1a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5ZM4.5 5.029l.5 8.5a.5.5 0 1 0 .998-.06l-.5-8.5a.5.5 0 1 0-.998.06Zm6.53-.528a.5.5 0 0 0-.528.47l-.5 8.5a.5.5 0 0 0 .998.058l.5-8.5a.5.5 0 0 0-.47-.528ZM8 4.5a.5.5 0 0 0-.5.5v8.5a.5.5 0 0 0 1 0V5a.5.5 0 0 0-.5-.5Z" />
                        </svg>
                    </button>
                    <button type="button" class="btn">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                            class="bi bi-pencil-square" viewBox="0 0 16 16">
                            <path
                                d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z" />
                            <path fill-rule="evenodd"
                                d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z" />
                        </svg>
                    </button>
                    <button type="button" class="btn">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                            class="bi bi-eye-fill" viewBox="0 0 16 16">
                            <path d="M10.5 8a2.5 2.5 0 1 1-5 0 2.5 2.5 0 0 1 5 0z" />
                            <path
                                d="M0 8s3-5.5 8-5.5S16 8 16 8s-3 5.5-8 5.5S0 8 0 8zm8 3.5a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7z" />
                        </svg>
                    </button>
                </div>

                <h2 class="el">{{ a.email }}</h2>
                <h2 class="el">{{ a.email }}</h2>
                <h2 class="el">{{ a.email }}</h2>
            </div>
        </ng-template>

    </div>
</section>
<app-footer id="adminFooter"></app-footer>