<div class="panel-log">
  <div class="dark-div"></div>
  <div class="register-login-form">
    <article class="shadow-lg">
    <img src="">
    <h2 i18n>Suscribirte con {{plan}}</h2>
    <input required class = "shadow-lg" type="text" placeholder="Nombre de Usuario" #userNm>
    <input required pattern="^[^@]+@[^@]+\.[a-zA-Z]{2,}$" #userEmail  class="shadow-lg"  type="email" placeholder="Correo electrónico">
    <input required  minlength="6" maxlength="9" class="shadow-lg"  type="password" placeholder="Contraseña">
    <input required  minlength="6" maxlength="9" class="shadow-lg"  type="password" placeholder="Confirme su Contraseña" #userPwd>
    <button class="ov-btn-grow-ellipse" (click)="authService.SignUp(userEmail.value, userPwd.value, userNm.value,plan, url)" i18n>Regístrate</button>
    <br>
    <br>
    <a href="#" i18n> ¿Has olvidado la contraseña? </a>
    </article>
    <div class="register-login-box shadow-lg">
      <p i18n>¿Ya tienes una cuenta? <a href="SIGNIN">Inicia Sesión</a> </p>
    </div>
    </div>
</div>
    

