
<div class="panel-log">
  <div class="dark-div"></div>
  <div class="register-login-form">
    <article class="shadow-lg">
    <img src="">
    <h2>Inicia Sesión</h2>
    <input required pattern="^[^@]+@[^@]+\.[a-zA-Z]{2,}$"  class="shadow-lg"  type="email" placeholder="Correo electrónico" #userName>
    <input required  minlength="6" maxlength="9" class="shadow-lg"  type="password" placeholder="Contraseña" #userPassword>
    <button type="submit" value="Submit" class="ov-btn-grow-ellipse" (click)="authService.SignIn(userName.value, userPassword.value)" >Iniciar Sesion</button>
    <br>
    <br>
    <a href="#"> ¿Has olvidado la contraseña? </a>
    </article>
    <div class="register-login-box shadow-lg">
    <p>¿No tienes una cuenta? <a href="SIGNUP">Regístrate</a></p>
    </div>
    </div>
</div>
    

