<div class="d-flex flex-column flex-shrink-0 p-3 text-white bg-dark" style="width: 280px;">
  <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none">
    <svg class="bi me-2" width="40" height="32">
      <use xlink:href="#bootstrap"></use>
    </svg>
    <span class="fs-4">Sidebar</span>
  </a>
  <hr>
  <ul class="nav nav-pills flex-column mb-auto">
    <li class="nav-item">
      <a href="#" class="nav-link active" aria-current="page">
        <svg class="bi me-2" width="16" height="16">
          <use xlink:href="#home"></use>
        </svg>
        Libros
      </a>
    </li>
    <li>
      <a href="#" class="nav-link text-white">
        <svg class="bi me-2" width="16" height="16">
          <use xlink:href="#speedometer2"></use>
        </svg>
        USUARIOS
      </a>
    </li>
  </ul>
  <hr>
  <div class="input-group mb-3">
    <span class="input-group-text" id="inputGroup-sizing-default">Buscar</span>
    <input type="text" class="form-control" aria-label="Sizing example input"
      aria-describedby="inputGroup-sizing-default">
  </div>
  <div class="Filtrar">
    <select class="form-select" aria-label="Default select example" onchange="ordenar(value,0)">
      <option selected>Ordenar por: defecto</option>
      <option value="1">Ordenar por: Nombre (A-Z)</option>
      <option value="2">Ordenar por: Nombre (Z-A)</option>
      <option value="3">Ordenar por: Precio (Menor a Mayor)</option>
      <option value="4">Ordenar por: Precio (Mayor a Menor)</option>
    </select>
  </div>
</div>