:root,
 :root.light {
  --main-color       : #1083D6;
  --title-color      : #2A3B47;
  --text-color       : #697477;
  --light-text-color : #A0A7AC;
  --body-color : #FBFBFE;
}

:root.dark {
    --bg-color: #140f07;
    --gr-text-banner: radial-gradient(circle, black,rgb(29, 28, 28),rgb(37, 35, 35), rgba(255, 255, 255, 0));
}