/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }

body {
--text-color: #000000;
--paragraph: #000000;
--bkg-color: #ffffff;
--btn-txt-color: #fffffe;
--btn-bg-color: #7f5af0;
--bk-shadow: #2cb67d;
--bk-radius-banner: #e5e5e5;
--bk-seccion: #242629;
--bk-pricing: #2cb67d;
--bk-pricing-hover: #7f5af0;
  }
body.dark-theme {
--text-color: #fffffe;
--paragraph: #94a1b2;
--bkg-color: #16161a;
--btn-txt-color: #fffffe;
--btn-bg-color: #7f5af0;
--bk-shadow: #2cb67d;
--bk-radius-banner: #000000;
--bk-seccion:#242629;
--bk-pricing: #2cb67d;
--bk-pricing-hover: #7f5af0;
}