<app-navegador></app-navegador>
<section class="book_description_container">
    <div class="left_content" id="left_content">
        <div class="book_image_content">
            <img id="book_image"
                src="https://covers.alibrate.com/b/5ba24a030750817e9da8e015/2ffb15bc-ace2-430c-b17e-5656d9dd2eef/share"
                alt="El pianista del gueto de Varsovia">
        </div>
        <div class="buttons" id="buttons">
            <button class="btn" i18n>Leer</button>
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                class="bi bi-chat-dots-fill" viewBox="0 0 16 16">
                <path
                    d="M16 8c0 3.866-3.582 7-8 7a9.06 9.06 0 0 1-2.347-.306c-.584.296-1.925.864-4.181 1.234-.2.032-.352-.176-.273-.362.354-.836.674-1.95.77-2.966C.744 11.37 0 9.76 0 8c0-3.866 3.582-7 8-7s8 3.134 8 7zM5 8a1 1 0 1 0-2 0 1 1 0 0 0 2 0zm4 0a1 1 0 1 0-2 0 1 1 0 0 0 2 0zm3 1a1 1 0 1 0 0-2 1 1 0 0 0 0 2z" />
            </svg>
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-heart-fill"
                viewBox="0 0 16 16">
                <path fill-rule="evenodd"
                    d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314z" />
            </svg>
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                class="bi bi-bookmark-fill" viewBox="0 0 16 16">
                <path
                    d="M2 2v13.5a.5.5 0 0 0 .74.439L8 13.069l5.26 2.87A.5.5 0 0 0 14 15.5V2a2 2 0 0 0-2-2H4a2 2 0 0 0-2 2z" />
            </svg>
        </div>
    </div>
    <div class="right_content" id="right_content">
        <div class="book_details">

            <h1 id="book_title" i18n>El pianista del gueto de Varsovia</h1>

            <p id="book_author" i18n><span>{{"bookdescription.author" | transloco}}: </span>Wladyslaw Szpilman</p>

            <p id="book_date" i18n><span>{{"bookdescription.date" | transloco}}: </span>2018</p>

            <p id="book_editorial" i18n><span>{{"bookdescription.editorial" | transloco}}: </span>Alfaguara</p>

            <p id="book_genre" i18n><span>{{"bookdescription.genre" | transloco}}: </span>Biografía</p>

            <p id="book_sinopsis" i18n><span>{{"bookdescription.sinopsis" | transloco}}: </span> Lorem, ipsum dolor sit amet consectetur adipisicing elit.
                Aspernatur quia sequi totam, fugiat laborum dignissimos optio omnis blanditiis officia repellendus a,
                reiciendis rem quos aliquid! Eveniet exercitationem soluta repellendus blanditiis!</p>
        </div>
    </div>
</section>
<app-footer></app-footer>