<app-navegador></app-navegador>
<section class="container">
    <div class="book_view">
        <div class="book_frontpage">
            <img src="https://covers.alibrate.com/b/5ba24a030750817e9da8e015/2ffb15bc-ace2-430c-b17e-5656d9dd2eef/share" alt="book">
            <div class="buttons">
                <button class="btn btn-primary">Leer</button>
                <button class="btn btn-primary">Agregar a favoritos</button>
                <button class="btn btn-primary">Comentarios</button>
            </div>
        </div>
    </div>
    <div class="book_details">
        <div class="book_title">
            <h1>El pianista del gueto de Varsovia</h1>
        </div>
        <div class="book_author">
            <p><span>Autor: </span>Wladyslaw Szpilman</p>
        </div>
        <div class="book_date">
            <p><span>Fecha de publicación: </span>2018</p>
        </div>
        <div class="book_editorial">
            <p><span>Editorial: </span>Alfaguara</p>
        </div>
        <div class="book_genre">
            <p><span>Género: </span>Biografía</p>
        </div>
        <div class="book_sinopsis">
            <p><span>Sinopsis: </span> Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aspernatur quia sequi totam, fugiat laborum dignissimos optio omnis blanditiis officia repellendus a, reiciendis rem quos aliquid! Eveniet exercitationem soluta repellendus blanditiis!</p>
        </div>
    </div>
</section>
<app-footer></app-footer>